.navItem {
  margin: 25px 25px;
  padding: 80px 70px;
  display: inline;

  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  line-height: 10px;
}
.pageTitle {
  font-family: Montserrat;
  font-style: Bold;
  font-size: 22px;
  line-height: 77px;
  text-align: center;
  margin: 50px;
  padding: 10px;
}

.pStyle {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.4000000953674316px;
  text-align: center;
  height: 132px;
  width: 1145px;
  left: 67.5px;
  top: 115px;
  margin: 38px 67px 28px 67px;
}

.getStart {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: white;
  padding: 18px 43.5px 17px 42.5px;
}

.copy {
  height: 39px;
  width: 462px;
  left: 608px;
  top: 0px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.4000000953674316px;
  text-align: left;
  margin: 82px 105px 29px 713px;
}

.pageButton {
  width: 191px;
  height: 51px;
  left: 544px;
  top: 557px;
  background: red;
  border-radius: 4px;
  margin: 200px 544px 42px 544px;
}

.img {
  height: 789px;
  width: 1280px;
  left: 0px;
  top: 78px;
  border-radius: 0px;
  padding: 30px;
}

a {
  text-decoration: none;
  color: red;
  position: relative;
  
}

.part {
  margin-top: 25.5px;
  color: rgba(0,0,0,0.0001);
}
